
#let's start with directories
bin/
Bin/
obj/
Debug/
Release/
.vs/
winFormsIntf/banco/
log/
materie_dataTrans/


#let's continue with file cathegories
*.o
*.a
*.exe
*.dll
*.pdb
*.cache
*.CopyComplete
*.FileListAbsolute*
*.json
*.cahe
*.props
*.targets
mintty.exe.stackdump
*.log
