<?xml version="1.0"?>
<!-- 
    Note: ......
-->
<configuration>
  <configSections>
    <!-- -->
    <sectionGroup name="ProxyGeneratorConnections">
      <section name="strings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!---->
    <sectionGroup name="LogSinkFs">
      <section name="LogSinkFsConfig" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!---->
    <sectionGroup name="LogSinkDb">
      <section name="connection" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="logger_application" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!---->
    <!---->
    <sectionGroup name="FileTransferTempPath">
      <section name="fullpath" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!---->
    <sectionGroup name="Criptazione">
      <section name="CryptoService" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!---->
    <sectionGroup name="resolveEmailAddrresses">
      <section name="addressList" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!---->
    <!-- seguono le sezioni poste in custom config -->
    <!-- Delibere -->
    <section name="beschlussRemoteSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!---->
    <!-- AVA -->
    <section name="AVARemoteSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!---->
    <!-- GenericFileWFlowRemoteSection -->
    <section name="GenericFileWFlowRemoteSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!---->
    <!-- x_test_config_RemoteSection -->
    <section name="x_test_config_RemoteSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!---->
  </configSections>
  <appSettings/>
  <connectionStrings/>
  
   
  
  
  <ProxyGeneratorConnections>
    <strings>
      <add key="kkkey_key" value="0"/>
      <add key="vkkey_key" value="0"/>
      <!-- active one -->
      <add key="materie" value="Database=materie;Server=Kronecker\Delta;User=applicationuser;Password=curricula;"/>
    </strings>
  </ProxyGeneratorConnections>
  
  <LogSinkFs>
    <LogSinkFsConfig>
      <!--NB. su Kronecker-->
      <add key="path" value="C:\root\LogSinkFs\materie\log\winFormsMaterie_"/>
		<!-- -->
      <add key="semaphore" value="on"/>
      <add key="verbosity" value="0"/>
    </LogSinkFsConfig>
  </LogSinkFs>
  
  <LogSinkDb>
    <!-- -->
    <connection>
      <!--  Kronecker::SqlExpress::Logging -->
      <add key="kkkey_key" value="0"/>
      <add key="vkkey_key" value="0"/>
      <add key="hostname_sql_instance" value="Kronecker\Delta"/>
      <add key="db_name" value="Logging"/>
      <add key="sql_instance" value="Delta"/>
      <add key="usr" value="applicationuser"/>
      <add key="pwd" value="curricula"/>
    </connection>
    <logger_application>
      <!-- each application logs on its own table -->
      <add key="table_name" value="winForms_materie_Kronecker"/>
      <add key="semaphore" value="on"/>
      <add key="verbosity" value="0"/>
    </logger_application>
    <!-- -->
  </LogSinkDb>
  
  <FileTransferTempPath>
    <fullpath>
      <!--NB. su Kronecker -->
      <add key="path" value="C:\root\LogSinkFs\materie"/>
      <!--NB. su HOST  add key="path" value="bla\Bla"/  -->
    </fullpath>
  </FileTransferTempPath>

  <Criptazione>
    <CryptoService>
      <!-- switch: {"simple", "multi", "off"} -->
      <add key="switch" value="off"/>
    </CryptoService>
  </Criptazione>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
